spring:
  profiles:
    include: secret
  application:
    name: backend

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        hbm2ddl:
          #auto: create  # 실행 시 테이블 삭제했다가 다시 생성
          auto: update   # 기존의 테이블에 컬럼 추가/삭제 작업 진행. 기존 테이블 유지
    defer-datasource-initialization: true
  sql:
    init:
      mode: always # 서버 시작시 항상 classpath의 sql문을 실행하도록 설정
      continue-on-error: true # 서버 시작시 sql문을 실행할 때 오류 무시하고 계속 진행
      data-locations: classpath:sql/data-mysql.sql # 서버 시작시 dml sql문을 실행할 위치 및 파일 지정
logging:
  level:
    org.springframework.security: DEBUG
springdoc:
  default-produces-media-type: application/json;charset=UTF-8